<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

    <style>
        /* Add custom styles for card size */
        .card {
            margin-bottom: 20px; /* Add space between cards */
        }

        .card-img-top {
            width: 100%; /* Make the image fill the entire width of the card */
            height: auto; /* Maintain aspect ratio */
        }

        .card-body {
            padding: 50px; /* Add padding inside the card body */
            background-color: #f8f9fa; /* Light gray background color */
        }
    </style>

</head>

    <body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                  <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Dealership Review</a>
                  <a class="navbar-brand" href="{% url 'djangoapp:about' %}">About Us</a>
                  <a class="navbar-brand" href="{% url 'djangoapp:contact' %}">Contact</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="{% url 'djangoapp:add_review' dealer.id %}">Add Review</a>                    
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" >
                            <input type="password" class="form-control" placeholder="Password" name="psw" >
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

<div class="container-fluid">
        <h2>Reviews for {{ dealer.full_name }}</h2>
</div>
<!-- Add reviews as cards -->
<div class="container">
    {% for review in reviews %}
    {% if forloop.counter0|divisibleby:3 %}
    <div class="row">
    {% endif %}
    <div class="col-sm-4" margin=10px>
        <div class="card" style="width: 18rem;">
            <img class="card-img-left" width="30" src="{% if review.sentiment == 'positive' %}{{ MEDIA_URL }}/emoji/positive.png{% elif review.sentiment == 'neutral' %}{{ MEDIA_URL }}/emoji/neutral.png{% elif review.sentiment == 'negative' %}{{ MEDIA_URL }}/emoji/negative.png{% endif %}" />
            <div class="card-body">
                <h5><label class="card-title"> {{ review.car_model }} </label></h5>
                <h5><label class="card-title"> {{ review.car_make }} </label></h5> <br>
                <h5><label class="card-title">{{ review.purchase_date}}</label></h5> <br>
                <h6><label class="card-text"> {{ review.review }}</label></h6>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:3 or forloop.last %}
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="container-fluid">
    {% if reviews %}
        <p>Reviews: {{ reviews|length }}</p>
    {% else %}
        <p>No reviews available</p>
    {% endif %}
</div>


<!--<div class="container-fluid">
        <h2>Reviews for {{ dealer.full_name }}</h2>
</div>

<div class="container">
    <div class="card-columns">
        {% for review in reviews|slice:":6" %}
            <div class="card">
                {# Visualize sentiment using emoji based on sentiment value #}
                {% if review.sentiment == "positive" %}
                    <img class="card-img-left" src="{{MEDIA_URL}}/emoji/positive.png" alt="Positive Emoji" style="width: 150px; height: 150px;">
                {% elif review.sentiment == "neutral" %}
                    <img class="card-img-left" src="{{MEDIA_URL}}/emoji/neutral.png" alt="Neutral Emoji" style="width: 150px; height: 150px;">
                {% elif review.sentiment == "negative" %}
                    <img class="card-img-left" src="{{MEDIA_URL}}/emoji/negative.png" alt="Negative Emoji" style="width: 150px; height: 150px;">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ review.car_model }} {{ review.car_make }} ({{ review.car_year }})</h5>
                    <p class="card-text">{{ review.review }}</p>
                </div>
            </div>
        {% endfor %}

-->
</body>

</html>